---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";

import ShowImageDetails from "@components/ShowImages";
import SearchBar from "@components/Search";
---

<Layout title={`Demonstation | ${SITE.title}`}>
  <Header activeNav="demonstrate" />
  <Main pageTitle="Demonstation" pageDesc="Demonstation of each attack method.">
    <SearchBar client:only="react" />
    <ShowImageDetails client:only="react" />
  </Main>
  <Footer />
</Layout>
